.App {
  text-align: center;
  margin-top: 15vh;
  width: 100%;
}

.accordion {
  margin: auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(22, 205, 22);
  color: rgb(152, 226, 15);
  font-weight: 600;
  font-size: medium;
}

.accordion-title:hover {
  background-color: rgb(231, 138, 17);
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: rgb(223, 148, 36);
  color: red;
}
